<br/><br/>
<% @author.acomments.each do |comment| %>
	<small><%= comment.user.email %> says:</small>
	<p>
        <%= comment.body %>
        <% if current_user.present? && comment.user_id == current_user.id %>
          <small><%= link_to "Delete", author_acomment_path(@author, comment), method: :delete %></small>
        <% end %>
      </p>
<%end%>
<br/>