<b>Name: </b> <%= @category.title %><br/><br/>

<% if current_editor.present? %>
<%= link_to "Delete category", category_path(@category), method: :delete, data:{confirm: "Emin misiniz?"} %>
<%end%>
<h1>Kitaplar</h1>
<% @category.books.each do |b| %>
	<p><%= link_to b.name, book_path(b) %>
<%end%>